*.pyc
*~
/.vscode
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
/Contahouse
/djangoenv/CHRegistreWeb
/djangoenv/ContaHouseProject
/djangoenv/ContaHouseWeb
/djangoenv/conda-meta
/djangoenv/DLLs
/djangoenv/include
/djangoenv/lib
/djangoenv/Library
/djangoenv/libs
/djangoenv/Scripts
/djangoenv/tcl
/djangoenv/Tools
/djangoenv/*.dll
/djangoenv/*.txt
/djangoenv/*.exe
/djangoenv/*.py
/djangoenv/*.conda_trash
/djangoenv/*.pdb
/djangoenv/*.conf
/djangoenv/*.nonadmin
